input {
  width: 100%;
  box-sizing: border-box;
  margin:0%;
  padding:0%;
}

/* Remove Arrows/Spinners on number element of input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

html, body {
  height:100%;
} 
body {  
  background-color: #daa52012; 
}
