.main-content {
    width: 100%;
    height: 100%;
    /* background: #FFFFFF;
    padding: 30% 0 0;
    margin: auto;
    z-index: 1;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.24); */
  }

  .card-header{
    border-radius: 8px;
    box-shadow: 0 0 50px 0 rgba(139, 103, 103, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.24);
    margin: 1%;
    padding: 0.20%;
    border: 3px solid green;
    text-align: center;
  }

html, body {
  height:100%;
} 
body {  
  background-color: #daa52012; 
}
