#contacts-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.24);
}
  
#contacts-table td, 
#contacts-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#contacts-table tr:nth-child(even){background-color: #f2f2f2;}

#contacts-table tr:hover {background-color: #ddd;}

#contacts-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#contacts-table button{
    width:100%;
    height:1.5rem;
    background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 }

html, body {
  height:100%;
} 
body {  
  background-color: #daa52012; 
}
